<!DOCTYPE html>
<html>

<head>


<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="manifest" href="/images/site.webmanifest">
<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">


  <script src="//cdn.jsdelivr.net/npm/phaser@3.23.0/dist/phaser.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js.map">


  </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/dat.gui.css">
  <meta charset="utf-8">
  <title>Connect 4</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <a href="/" id="logo" class="brand-logo topZero "><img id="logo" class="logo" src="/images/banner.png"></a>
  {{#if user}}

    <ul id="presence" class="dropdown-content">

      <li>

        <a href="/logout">Log Out</a>
      </li>
    </ul>
  {{/if}}
  <nav class="styleNav">
    <div class="container">
      <div class="nav-wrapper ">

        <ul id="nav-mobile" class="right hide-on-med-and-down">
          {{#unless user}}
          <li>
            <a href="/login"><img class="login" src="/images/login.png"></a>
          </li>
          {{/unless}}
          {{#if user}}

            <li>

              <a class="blackbox  dropdown-trigger" href="#!" data-target="presence">
                {{user.username}}
                <i class="material-icons right">arrow_drop_down</i>
              </a>

            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">


<form action="#chat">
<button class="openbtn"  onclick="openNav()">&#9776; Chat</button>
</form>
<div id="content" class="container2">
{{{body}}}

</div>
<div id="mySidepanel" class="sidepanel">
<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
<div class="container">

  <ul class="nav nav-tabs">
    <li ><a id="publicChat"data-toggle="tab" href="#chat">Chat</a></li>
    <li><a data-toggle="tab" class= "smaller" href="#menu1">Menu 1</a></li>
    <li><a data-toggle="tab" class= "smaller" href="#menu2">Menu 2</a></li>

  </ul>

  <div class="tab-content">
    <div id="chat" class="tab-pane fade">

      <div class="panel-body ">
           <ul class="media-list" style="height: 525px; overflow-y: scroll" id="chatbox-listMessages">

           </ul>
      </div>
      <div class="chatbox">
      {{#if user}}
       <input type="text" class="form-control" placeholder="Type message and press Enter" id="userMessage" />
      {{/if}}
      {{#unless user}}
      Please Login to Chat
      {{/unless}}
      </div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>

  </div>
</div>

</div>



  </div>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
  <!-- Materialize JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script type="text/javascript">
  var socket;
  var images=['/images/bg/blue.png',
              '/images/bg/green.png',
              '/images/bg/orange.png',
              '/images/bg/purple.png',
              '/images/bg/black.png',
              '/images/bg/red.png',
              '/images/bg/greyRed.png',
            '/images/bg/greyPurple.png',
          '/images/bg/pink.png',
        '/images/bg/pitch.png',
      '/images/bg/haze.png',
    '/images/bg/yellowBAD.png',
  '/images/bg/abort.png',
'/images/bg/tile.png',];
var randomNumber;

window.onload = function() {
  if (window.location.href.indexOf("games") > -1) {

  if( window.localStorage )
 {
   if( !localStorage.getItem('firstLoad') )
   {
     localStorage['firstLoad'] = true;
     window.location.reload();
   }
   else
     localStorage.removeItem('firstLoad');
 }
 }
}

  $(document).ready(function(){

if(gameN!=null) {
  window.location.reload(true);

}

if(!(window.location.href.indexOf("qg") > -1)) {
randomNumber = Math.floor(Math.random() * images.length);
var bgImg = 'url(' + images[randomNumber] + ')';

$('body').css({'background':bgImg, 'background-size':'tile', });


images.splice(randomNumber,1);
randomNumber = Math.floor(Math.random() * images.length);
 bgImg = 'url(' + images[randomNumber] + ')';

$('.styleNav').css({'background':bgImg, 'background-size':'tile', });
} else {
var blank= 'url(/images/bg/blank.png)'
$('body').css({'background':blank, 'background-size':'tile', });
  $('.styleNav').css({'background':blank, 'background-size':'tile', });
}



});



    $(function() {


      $(".dropdown-trigger").dropdown();

      $('button.openbtn').click(function(e)
{
    // Special stuff to do when this link is clicked...

    // Cancel the default action
    e.preventDefault();
});
    });


  </script>

  <script>
  var body = document.body,
    overlay = document.querySelector('.overlay'),
    overlayBtts = document.querySelectorAll('button[class$="overlay"]');

[].forEach.call(overlayBtts, function(btt) {

  btt.addEventListener('click', function() {

     /* Detect the button class name */
     var overlayOpen = this.className === 'open-overlay';

     /* Toggle the aria-hidden state on the overlay and the
        no-scroll class on the body */
     overlay.setAttribute('aria-hidden', !overlayOpen);
     body.classList.toggle('noscroll', overlayOpen);

     /* On some mobile browser when the overlay was previously
        opened and scrolled, if you open it again it doesn't
        reset its scrollTop property */
     overlay.scrollTop = 0;

  }, false);

});
  /*
  var locationz=""
  if(window.location.hostname.includes("localhost")) {
    locationz='http://localhost:3001'
  } else {
    locationz=window.location.hostname
  }
   const socket = io.connect(location);
  /*var tai=2;


 const socket = io.connect('http://localhost:3001');
 */
var gameN=null;
socket=0;
  if (window.location.host.includes("localhost")){

  socket= io.connect(window.location.host)
  console.log("On LOCAL")
  }else{
   socket= io.connect(window.location.host)
   console.log("not local")
  }
socket.emit('connectZ', {  username: "{{user.username}}" });



   var userMessage = function (name, text) {
    return ('<li class="media"> <div class="media-body"> <div class="media">' +
        '<div class="media-body"' +
        '<b>' + name + '</b> : ' + text +
        ' </div></div></div></li>'
    );
};




var sendMessage = function () {
    var userMessage = $('#userMessage').val();
    if (/\S/.test(userMessage)) {
      socket.emit('chatMessage', { message: userMessage, username: "{{user.username}}" });
    }


    $('#userMessage').val("");
};

$('#userMessage').keypress(function (event) {

    var keycode = (event.keyCode ? event.keyCode : event.which);
    if (keycode == '13') {
        sendMessage();
    }

});
socket.on('chatMessage', function (data) {
    var messages = $('#chatbox-listMessages'),
    messagesNode = messages[0];
    $('#chatbox-listMessages').append(userMessage(data.username, data.message));
    messagesNode.scrollTop = messagesNode.scrollHeight;
});




socket.on('reload', function (data) {

  console.log("please reload "+data.id)
  window.location.reload(true);
});


socket.on('hasWon', function (data) {
localHasWon=true;
});


socket.on('update',function(data){


  var load=JSON.parse(data.state)


  if (load.gamename=="connect4") {

  gameN=load


}


})

socket.on('roomList',function(data){

  RecRooms=JSON.parse(data.state)


})


   function sendTXT() {
        console.log("button press");
        fetch('/send', {method: 'POST'})
     .then(function(response) {
       if(response.ok) {
   console.log("message sent")
         return;
       }
       throw new Error('Request failed.');
     })
     .catch(function(error) {
       console.log(error);
     });

      };






function openNav() {
  document.getElementById("mySidepanel").style.width = "500px";
  $(".publicChat").trigger("click");

}

/* Set the width of the sidebar to 0 (hide it) */
function closeNav() {
  document.getElementById("mySidepanel").style.width = "0";
}

  </script>
</body>

</html>
