<section class="section">
  {{#if user}}
  <p class="slightM">Welcome back, {{user.username}}!</p>

  <ul class="collection">
    <li class="collection-item">  <a href="/games">Games</a></li>

  </ul>
  {{/if}}
  {{#unless user}}
<p class="slightM">  Login to play some ebic games </p>
  {{/unless}}
</section>
