
<section class="section">

  {{#if user}}
  <!--
  <canvas id="taicanvas" width="800" height="600"></canvas>
  <canvas class="right" id="taibox" width="200" height="600"></canvas>

-->
  <script type="text/javascript">
/*
  var locationz=""
  if(window.location.hostname.includes("localhost")) {
    locationz='http://localhost:3001'
  } else {
    locationz=window.location.hostname
  }
*/
var taiSocket=0
var gameState={};

$( document ).ready(function() {


  taiSocket=socket;
});

var config = {
    type: Phaser.AUTO,
    height:800,
    width:1200,
    physics: {
        default: 'arcade',
        arcade: {
            gravity: { y: 200 }
        }
    },
    scene: {
        preload: preload,
        create: create
    }
};
var game = new Phaser.Game(config);

function preload ()
{
    this.load.setBaseURL('http://labs.phaser.io');

    this.load.image('sky', 'assets/skies/space3.png');
    this.load.image('logo', 'assets/sprites/phaser3-logo.png');
    this.load.image('red', 'assets/particles/red.png');
}

function create ()
{
    this.add.image(400, 300, 'sky');

    var particles = this.add.particles('red');

    var emitter = particles.createEmitter({
        speed: 100,
        scale: { start: 1, end: 0 },
        blendMode: 'ADD'
    });

    var logo = this.physics.add.image(400, 100, 'logo');

    logo.setVelocity(100, 200);
    logo.setBounce(1, 1);
    logo.setCollideWorldBounds(true);

    emitter.startFollow(logo);
}


function update() {



}









  </script>

  </script>
  {{/if}}
  {{#unless user}}
  You must be logged in to play
  {{/unless}}


</section>
