body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.noscroll { overflow: hidden; }

@media (min-device-width: 1025px) {
    /* not strictly necessary, just an experiment for
       this specific example and couldn't be necessary
       at all on some browser */
    .noscroll {
        padding-right: 15px;
    }
}

.overlay {
     position: fixed;
     overflow-y: scroll;
     top: 0; left: 0; right: 0; bottom: 0;
}

[aria-hidden="true"] {
    transition: opacity 1s, z-index 0s 1s;
    width: 100vw;
    z-index: -1;
    opacity: 0;
}

[aria-hidden="false"] {
    transition: opacity 1s;
    width: 100%;
    z-index: 1;
    opacity: 1;
}
/* The sidepanel menu */
.sidepanel {
      border-radius: 12px;
  height: 1050px; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 60px;
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  opacity: 0.90;
  font-size: 15px;
}
.right{

  right:0
}
#create {

}
.container3{

  opacity: 0.90;
    border-radius: 12px;
    background: #ffffff;
    position: absolute;
left:1140px;
    height: 2000px;
    width:350px;
    top: 100px;



}
.slightM{
  left:20px;
  position: relative;
}

.topZero{
top:0;
position: absolute;
left:0;
width: 95%;
display:flex;

}


.blackbox{

   background-image: url("../images/blackbox.png");
   background-repeat: no-repeat;
background-size: 140px 50px;
background-position: left;
background-origin: inherit;
background-attachment:local;
}
.logo{
top:0;
  width: 300px;
 height: 70px;
 object-fit: scale-down;
}
.login{

  width: 80px;
 height: 70px;
 object-fit: scale-down;
}

  .opa{
    background:rgba(255,255,255,1);
  }
.container2{

    background:rgba(255,255,255,0.9);
    border-radius: 12px;
    background: #ffffff;
    position: absolute;
left:20px;

    height: auto;
    width:1130px;



}
.absH{
  position:absolute;
  left:0;

}

.absL{
  position:absolute;
  right:0;
  top:55px;
  width:350px;
  height:700px;

}


.userMessage{

    opacity: 1;
    color:  #FFFFFF;
}
/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 10px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.styleNav {


}
/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.panel-body {
  color: white;
}
/* Style the button that is used to open the sidepanel */
.openbtn {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  background-color: #231;
  color: white;
  right: 50px;
  padding: 10px 15px;
  border: none;

}

#smaller {
font-size:15px;

}
#gui {
z-index: 1;
     position: absolute; top: 2px; left: 2px
}
